.aboutTitle{
  color: #420e62;
  font-size: 2rem;
  width: 70%;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.aboutBody{
  margin-top: 1em;
  color: #420e62;
  font-size: 1.3rem;
  width: 80%;
  font-family: 'Roboto', sans-serif;
}

.type-words{
  height: 2.5rem;
  color: #8b5aa8;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.imageDiv{

    text-align: right;
    width: 25em;
    height: 25em;
    margin-right: 4em;

}

.imageDiv img{
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 86%, 0% 20%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 86%, 0% 20%);

}

.aboutDiv {
  display: flex;
  padding-top: 3em;
  margin: 0 0 5em 0;
  justify-content: flex-end;
  align-items: center;
}

.aboutText{
  width: 50%;
  margin-left: 1em;
}


@media (max-width: 900px) {
  .aboutDiv {
  display: flex;
  margin: 5em 0 8em;
}

  .imageDiv{
    width: 46%;
    height:max-content;
    margin-left: 1em;
    margin-right: 1em;
  }

  .aboutTitle{
  font-size: 2rem;
}

.aboutBody{
  margin-top: 2em;
  font-size: 1rem;
  width: 90%;
}
}



@media (max-width: 700px) {
  .aboutTitle{
  margin: 0;
  font-size: 1.5rem;
  width: 100%;
}

.type-words {
  height: 1.9rem;
  color: #8b5aa8;
  font-size: 1.9rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.aboutBody{
  margin-top: 1.5em;
  font-size: 1rem;
  width: 100%;
}

  .aboutText{
  margin: 0 2em;
  width: 85%;

}
  .aboutDiv {
  margin: 0 0 2em 0;
  display: block;
}

  .imageDiv{
  margin: 2em auto;
  width: 76vw;
  height: auto;

  }

}
