.aboutTitle{
  color: #420e62;
  font-size: 2.5rem;
  width: 70%;
}

.aboutBody{
  margin-top: 3em;
  color: #420e62;
  font-size: 1.3rem;
  width: 80%;
}

.imageDiv{

    text-align: right;
    width: 25em;
    height: 25em;
    padding: auto;

}

.imageDiv img{
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 86%, 0% 20%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 86%, 0% 20%);

}

.aboutDiv {
  display: flex;
  margin: 5em 0 ;
  justify-content: flex-end;
}

.aboutText{
  width: 50%;
  margin-left: 1em;
}

@media (min-width: 1000px) {
  .imageDiv img{
    width: 25em;
    height: 25em;
    padding: auto;
  }
}

@media (max-width: 900px) {
  .aboutDiv {
  display: flex;
  margin: 5em 0;
}

  .imageDiv{
    width: 46%;
    height: fit-content;
  }

  .aboutTitle{
  font-size: 2rem;
}

.aboutBody{
  margin-top: 2em;
  font-size: 1rem;
  width: 80%;
}
}



@media (max-width: 450px) {
  .aboutTitle{
  margin: 0;
  font-size: 2rem;
  width: 100%;
}

.aboutBody{
  margin-top: 2em;
  font-size: 1.5rem;
  width: 100%;
}

  .aboutText{
  margin: 0 2em;
  width: 85%;

}
  .aboutDiv {
  display: block;
  margin: 5em 0;
}

  .imageDiv{
  margin: 2em auto;
  width: 76vw;
  height: auto;

  }
  .aboutDiv {

  display: block;
  }
}
