.name-style{
  color: #391A4C;
  font-weight: bold;
  font-size: 3em;
  text-shadow: 2px 2px 8px rgb(0 0 0 / 25%);
  text-align: -webkit-match-parent;

}

.wave-container{
  height: 100%;
}

.name-button-container{
  display: flex;
  justify-content: flex-end;
  width: 50vw;
  margin: auto 0;
}

.name-button-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-banner{
  width: 100vw;
  height: 105vh;
}

.wave-pos-1{
  position: absolute;
  bottom: 100px;
  width: 100%
}

.wave-pos-2 {
  position: absolute;
  bottom: 70px;
  width: 100%
}

.wave-pos-3 {
  position: absolute;
  bottom: 60px;
  width: 100%
}

.wave-pos-4 {
  position: absolute;
  bottom: 60px;
  width: 100%
}

.wave-pos-5 {
  position: absolute;
  bottom: 50px;
  width: 100%
}

.wave-pos-6 {
  position: absolute;
  bottom: 30px;
  width: 100%
}

.wave-pos-7 {
  position: absolute;
  bottom: 20px;
  width: 100%
}

.wave-pos-8 {
  position: absolute;
  bottom: 10px;
  width: 100%
}

.wave-pos-9 {
  position: absolute;
  bottom: -20px;
  width: 100%
}

.wave-pos-10 {
  position: absolute;
  bottom: -29px;
  width: 100%
}

.button-banner{
  stroke: #FFF;
  margin: 10px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));

}

.my-name{
  color: #8b5aa8;
  font-weight: bold;
  font-size: 1em;
}

.image-div{
  margin: auto 0;
  padding-left: 5em;

}

.profile-image{
  width: 15em;
  height: auto;
}


.container-name-photo {
  background-size: 105% 100%;
  background-image: url('../assets/banner.png');
  margin: 0;
  width: 100vw;
  display: flex;
  height: calc(100vh - 270px);
}

.btn-pink {
  color: white;
  text-align: center;
  background-color: #8b5aa8;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 4px 4px);
  font-size: 1.5em;
  padding: 1em 2em;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  margin-top: 0.5em;
}

.buttonCenter {
  position: absolute;
  bottom: 6em;
  width: 100%;
  text-align: center;
}




@media screen and (max-width: 900px) {

  .name-button-container {
      width: 60vw;
    }

  .image-div {
    padding-left: 2em;

  }

}

@media screen and (max-width: 745px) {

  .profile-image {
      width: 12em;
      height: auto;
    }

  .image-div {

      margin: auto 1em auto 1em;
    }

  .name-style {
      font-size: 2.5em;
      text-align: center;
  }

    .btn-pink {
      font-size: 1.5em;
      padding: 0.7em 1.5em;
      margin-top: 0.5em;

    }

}



@media screen and (max-width: 450px) {


  .name-style {
    font-size: 2em;
  }

  .profile-image {
    width: 12em;
  }

  .container-name-photo {
    background-image: url('../assets/banner_cell.png');
  }

    .image-div {

      margin: auto 0;
      padding-left: 0;
    }

  .btn-pink {
    font-size: 1.2em;
    padding: 0.8em 1.5em;
    margin-top: 0.5em;

  }
}
