.footer {
  background: #740A8F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
}

.footer-links {
  display: flex;
}

.footer-copyright{
  width: 40vw;
  color: white;
  text-align: end;
}
