.projects-div{
  height: 100vh;
  background-color: #740A8F;
  padding: 1em 0 0 0;
}

.projectsTitle {
  margin: 0.5em 0 0.5em 0em;
  font-size: 3em;
  color: white;
  text-align: center;
  font-weight: bold;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.swiperSlideDiv {
  background-Repeat: no-repeat;
  background-position: center;
  height: 65vh;
  background-size: contain;

}

.swiperSlideImg {
  object-fit: cover;

}

.swiperSlideText {

  position: absolute;
  bottom: 4%;
  right: 0%;
  font-weight: 700;
  max-width: 90%;
  font-size: 2rem;
  color: white;
  text-shadow: -1px 0 1px #391a4c7d, 0 1px 1px #391a4c7d, 1px 0 1px #391a4c7d, 0 -1px 1px #391a4c7d

}

@media (max-width: 900px) {
  .swiperSlideText {
      bottom: -1%;
      left: 2%;
      font-size: 2rem;
    }
  .swiperSlideDiv {

    background-Repeat: no-repeat;
    background-position: center;
    height: 80vh;
    background-size: contain;

    }
}
@media screen and (max-width: 550px) {

  .projectsTitle {
    margin: 0.8em 0 1em 0;
    font-size: 2em;
    font-weight: bold;
  }

  .projects-div {
    height: 78vh;
  }

  .swiperSlideText {
    bottom: -1%;
    left: 3%;
    font-size: 1rem;
    }

  .swiperSlideDiv {
    background-position: center;
    height: 50vh;
    background-size: 110%;

  }
}
