

.swiperSlideText {

  position: absolute;
  top: 0%;
  left: 5%;
  font-weight: 600;
  max-width: 90%;
  font-size: 1.25rem;
}

.swiperSlideDiv {
  height: 60vh;
  background-Size: 70%;
}




.swiperContainer {
  min-height: 225px;
  height: 23vw;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.swiperSlideDiv {
  background-Repeat: no-repeat;
  background-Position: center;
  height: 40vh;
  background-Size: 40vw;

}

.swiperSlideImg {
  width: auto;
  object-fit: cover;

}
