.sliderRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.sliderColumn{
  width: 50%;
}

.projectsTitle{
  margin: 0 1em 1em;
  font-size: 3em;
}

@media screen and (max-width: 550px) {
  .sliderColumn{
  width: 100%;
  }
  .projectsTitle{
  margin: 0 0 0 1em;
  font-size: 2em;
  }
}

.swiperContainer {
  min-height: 225px;
  height: 23vw;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.swiperSlideDiv {
  background-Repeat: no-repeat;
  background-Position:center;
  height: 40vh;
  background-Size: 45vw;

}

@media (max-width: 450px) {
  .swiperSlideDiv {
    height: 36vh;
    background-Size: 90vw;
  }
}

@media (min-width: 1000px) {
  .swiperSlideDiv {
    height: 60vh;
    background-Size: 45vw;
  }
}

.swiperSlideImg {
  width: 80%;
  object-fit: cover;

}

.swiperSlideText {

  position: absolute;
  top: 4%;
  left: 5%;
  font-weight: 600;
  max-width: 90%;
  font-size: 1.25rem;
}
@media (min-width: 1024px) {
  .swiperSlideText {
    font-size: 1.75rem;
  }
}
